@charset "iso-8859-2";
/* CSS Document */

* 											{ margin:0px; padding:0px; border:0px; outline:none; }
a 											{ text-decoration:none; }
body 										{ margin:0 auto; text-align:center; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:14px; background-color:#fff; }
button, button:focus, button:active			{ border:0; padding:5px 0 8px 0; margin:0px; color:#132c19; font-weight:bold; font-size:14px; background:none; outline:none; outline:none; }  

.content									{ width:360px; margin:0 auto; text-align:left; padding:0; height:630px; }

.preloader									{ width:262px; height:51px; margin:0 auto 0 -132px; background:url("../img/preloader.gif") no-repeat scroll center top transparent; left:50%; position:fixed; top:350px;}

/* padding para evitar menu y footer fixed */
/*sin search*/
.margin_fixed								{ padding:62px 0 64px 0; }
/*con search*/
.margin_fixed_search						{ padding:99px 0 64px 0; }


/* INDEX */
.content_titulo								{ width:360px; height:62px; background:url(../img/bg_titulo.png) no-repeat center top; margin:0 auto; position:fixed; top:0;}
.content_titulo .titulo						{ height:46px; color:#fff; font:bold 24px Arial, Helvetica, sans-serif; margin:0 auto; background:url(../img/icono.png) top left no-repeat; padding:16px 0 0 36px; }

.content_titulo .iso						{ width:120px; padding:13px 0 0 36px; }
.content_titulo .checkin					{ width:120px; }
.content_titulo .profile					{ width:80px; }
.content_titulo .reviews					{ width:100px; }
.content_titulo .restaurants				{ width:140px; }

.content_titulo .nearby						{ width:85px; }
.content_titulo .highlights					{ width:125px; }
.content_titulo .aboutus					{ width:110px; }
.content_titulo .settings					{ width:100px; }
.content_titulo .friends					{ width:100px; }


/* search*/
.search										{ width:310px; height:37px; background:url(../img/search.png) center top no-repeat; padding:7px 0 0 50px; position:fixed; top:62px;}
.search	input								{ width:270px; height:30px; background:none; border:none; color:#8c8c8c; font-family:Arial, Helvetica, sans-serif;  }


.menu										{ width:360px; height:75px; background-color:#000; position:fixed; top:566px;}
.menu div									{ width:90px; height:55px; float:left; padding:15px 0 0 0; text-align:center; color:#CCC; }
.menu div.activo							{ background:url(../img/hover_menu.png) center no-repeat; }
.menu div button							{ width:90px; height:30px;  background-position:center 0; background-repeat:no-repeat; padding:33px 0 0 0; color:#CCC; font-family:Arial, Helvetica, sans-serif; font-weight:normal; }
.menu div button.btn_home					{ background-image:url(../img/icon_home_menu.png); margin:0; padding:33px 0 0 0;}
.menu div button.btn_profile				{ background-image:url(../img/icon_profile_menu.png); margin:0; padding:33px 0 0 0;}
.menu div button.btn_highlights				{ background-image:url(../img/icon_highlights_menu.png); margin:0; padding:33px 0 0 0;}
.menu div button.btn_friends				{ background-image:url(../img/icon_friends_menu.png); margin:0; padding:33px 0 0 0;}





/* HOME */
.home										{ width:360px;  }
.home div									{ width:180px; float:left; margin-top:22px; padding-bottom:22px; }
.home div button							{ background-position:center 0px; background-repeat:no-repeat; color:#FF5D00; font:bold 18px Arial,Helvetica,sans-serif; height:110px; margin:8px auto 0; padding:70px 0 0; width:180px; }
.home div button.nearby						{ background-image:url(../img/icon_nearby.png);}
.home div button.profile					{ background-image:url(../img/icon_profile.png);}
.home div button.checkin					{ background-image:url(../img/icon_checkin.png); }
.home div button.reviews					{ background-image:url(../img/icon_reviews.png);}
.home div button.abautus					{ background-image:url(../img/icon_aboutus.png);}
.home div button.settings					{ background-image:url(../img/icon_setting.png);}

/* PROFILE */
.profile									{ width:360px; }
.profile .post								{ height:95px; padding-top:15px;}
.profile .post button						{ height:82px;}
.profile .post button.friends				{ background-image:url(../img/icon_friends.png);}
.profile .post button.reviews				{ background-image:url(../img/icon_reviews_chico.png);}
.profile .post button.updates				{ background-image:url(../img/icon_update_reviews.png);}
.profile .post button.photos				{ background-image:url(../img/icon_camara.png);}


/* CHECK IN */
.checkins									{ padding-bottom:0;}
.checkins .post								{ height:85px; padding:14px 0 0 16px; width:344px;}
.checkins .post p							{ font:bold 16px Arial, Helvetica, sans-serif; color:#707b8f; width:250px;}
.checkins .post input						{ background:url(../img/input.png) top left no-repeat; width:309px; height:42px; padding:0px 10px; margin-top:5px; font:14px normal Arial, Helvetica, sans-serif; color:#3e3e3e;}

/* REVIEWS */
.reviews .details							{ padding-bottom:5px;}


/* RESTAURANTS */
.restaurants 								{ }
.restaurants .details						{ background-color:#eeeeee; margin:5px 0 0 0; padding:6px 6px 0;}
.restaurants .details button.thumb			{ float:left; width:110px; height:110px; margin:0 5px 0 0;  border: 1px solid #C5C5C5; padding:0 0 2px; text-align:center;}
.restaurants .details button.thumb img		{ width:102px; height:102px; float:none; margin:0 auto; border:none; padding:0; }
.restaurants .details h2 button				{ padding-bottom:0px; }
.restaurants .details h2 					{ padding-bottom:5px; }
.restaurants .puntos  button				{ width:23px;background:url(../img/star.png) no-repeat 0 -15px; float:left; }
.restaurants .puntos  button.activo			{ background-position:0 0;}


/* HIGHLIGHTS */
.highlights 								{ }
.highlights .details						{ background-color:#eeeeee; margin:5px 0 0 0; padding:6px 6px 0;}
.highlights .details img					{ width:102px; height:102px; }
.highlights .details h2						{ padding-bottom:5px; }
.highlights .puntos							{ width:238px; }


/*ABOUT US*/
.aboutus									{ width:320px; margin:0 auto; }
.aboutus h1									{ font:bold 45px Arial, Helvetica, sans-serif; color:#e25200; margin-top:20px;}
.aboutus p									{ color:#4C596E; margin:12px 0; line-height:20px;  }
.aboutus p button							{ color:#E25200; font-weight:normal;}

/* SETTING */
.setting									{ padding-bottom:0; }
.setting .post 								{ padding:12px 10px; width:340px;}
.setting .post h2							{ color:#707b8f; padding-bottom:10px;}
.setting .post button						{ width:41px; height:40px; overflow:hidden; float:right; background:url(../img/check_setting.png) no-repeat 0 -40px;}
.setting .post button.activo				{ background-position:0 0;}
.setting .post p							{ color:#4C596E;}



/* RESTAURANT CON MAPA */
.restaurants_map							{ padding:10px;}
.restaurants_map .map_restaurant			{ width:332px; margin:0 auto; border:solid 1px #c5c5c5; margin-bottom:10px;}
.restaurants_map p							{ color:#4C596E;}

/* NEARBY */
.nearby										{ }


/* detail general */
.details									{ padding:12px 12px 12px 12px;	}
.details img								{ width:134px; height:134px; border:solid 1px #c5c5c5; float:left; margin:0 5px 0 0;}
.details h2									{ font:bold 16px Arial, Helvetica, sans-serif; color:#e25200; padding-bottom:11px; }
.details h2 button							{ font:bold 16px Arial, Helvetica, sans-serif; color:#e25200; padding-bottom:11px; }
.details p									{ font:normal 14px Arial, Helvetica, sans-serif; color:#4c596e; font-style:italic; margin:0; }
.details button								{ color:#0056af; font:14px Arial, Helvetica, sans-serif; font-style:italic; padding:0; margin:0; }
.details p.info								{ margin:5px 0 0 0; padding:0; color:#9e9e9e; font:normal 14px Arial, Helvetica, sans-serif; font-style:normal;	}



/*post general */
.post										{ width:360px; background:url(../img/bg_post.png) left bottom no-repeat #FFF; }
.post button								{ width:250px; height:50px; display:block; margin:0 auto; padding-left:79px; background:no-repeat left center; text-align:left; text-decoration:underline; color:#0056af; font-weight:normal;}


/* comentarios */
.comentarios								{  }
.comentarios h2								{ padding-bottom:5px;}
.comentarios .details						{ padding:8px; margin:8px 0 0 0; background-color:#eeeeee;}
.comentarios .details img					{ width:72px; height:72px; margin:0 5px 0 0; float:left; border:solid 1px #c5c5c5;  }
.comentarios p.fecha						{ margin:5px 0 0 0;}
.comentarios .details p button				{ background-position:left center; background-repeat:no-repeat;  }
.comentarios .details p button.friends		{ background-image:url(../img/icon_friends_comentario.png); padding:3px 0 3px 29px; margin-right:12px;  }
.comentarios .details p button.reviews		{ background-image:url(../img/icon_reviews_comentario.png); padding:3px 0 3px 26px; }


/* map infowindows */
.cloud 										{font-size: 10px;cursor: pointer;color:#000000}
